.card-linear {
  height: 300px;
  width: 300px;
  background-color: black; /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to right bottom,
    #443f3f,
    #363131,
    #292424,
    #1c1818,
    #0f0707
  );
  box-shadow: 14px 10px 69px 32px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 14px 10px 69px 32px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 14px 10px 69px 32px rgba(0, 0, 0, 0.62);
  border-radius: 10px;
}
.card-linear-paypal {
  height: 260px;
  width: 240px;
  background-image: linear-gradient(
    to right bottom,
    #443f3f,
    #343030,
    #242222,
    #161515,
    #000000
  );
  background-color: black; /* For browsers that do not support gradients */
  box-shadow: 14px 10px 69px 32px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 14px 10px 69px 32px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 14px 10px 69px 32px rgba(0, 0, 0, 0.62);
  border-radius: 10px;
}

.modal {
  height: 500px;
  width: 1000px;
  /* background-color: rgb(255, 255, 255); */
  color: black;
  padding: 2rem;
}
